* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--LightGray);
}

:root {
    --DarkerGray: #454545;
    --DarkGray: #949494;
    --LightGray: #D4D4D4;
    --LightPink: #FFB3FF;
    background-color: var(--DarkerGray);
    font-size: 62.5%;
}

/* Top bar with highscore and timer */
.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    max-width: 80rem;
    margin: 0 auto;
}

.top-bar p {

}

/* Main Content */
.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    max-width: 80rem;
    margin: 0 auto;
}

h1 {
    font-size: 6rem;
    color: var(--LightPink);
    margin-bottom: 2rem;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.timer {
    font-size: 2rem;
}

main div p {
    font-size: 1.4rem;
    padding-bottom: 2rem;
    text-align: center;
}

form label {
    font-size: 1.5rem;
}

form input {
    width: 5rem;
    padding: 0.3rem;
    border: 0.1rem solid var(--LightPink);
    border-radius: 0.5rem;
    background-color: var(--DarkGray);
    color: var(--DarkerGray);
    text-align: center;
    margin-bottom: 2rem;
}

/* List styling for both the quiz page and highscores page */
ul {
    padding: 1rem;
    display: flex;
}

#scores {
    flex-direction: column;
}

li {
    list-style: none;
    padding: 1rem;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}


/* Reusable constants */
.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.button {
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    color: var(--LightPink);
    width: auto;
    padding: 0.5rem;
    border: 0.1rem solid var(--LightPink);
    border-radius: 0.5rem;
    background-color: var(--DarkerGray);
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1.5rem 0 var(--DarkGray);
}